:root {
  --neutral-foreground: #000;
  --neutral-background: #999;
  --neutral-body: #111;
  --neutral-id: #444;
  --approved-foreground: #020;
  --approved-background: #9a9;
  --approved-body: #131;
  --approved-id: #464;
  --denied-foreground: #400;
  --denied-background: #c99;
  --denied-body: #511;
  --denied-id: #844;
  --published-foreground: #000;
  --published-background: #999;
  --published-body: #111;
  --published-id: #444;
  --background: #ffe;
}

body {
  background-color: var(--background);
}

.announcement-neutral {
  position: relative;
  color: var(--neutral-foreground);
  background: var(--neutral-background);
  border-radius: 1em;
  border: 1px solid #777;
  margin: 1em auto;
  padding: 1em;
}

.announcement-neutral > .title::before {
  content: "";
}

.announcement-neutral > .title {
  font-size: 1.2rem;
}

.announcement-neutral > .body {
  font-size: 0.8rem;
  color: var(--neutral-body);
  padding: 1em;
}

.announcement-neutral > .date {
  font-size: 0.6rem;
  text-align: right;
  position: absolute;
  right: 2em;
}

.announcement-neutral > .id::before {
  content:"id:"
}

.announcement-neutral > .id {
  color: var(--neutral-id);
  font-size: 0.6rem;
  position: absolute;
  right: 2em;
}

.announcement-approved {
  position: relative;
  color: var(--approved-foreground);
  background: var(--approved-background);
  border-radius: 1em;
  border: 1px solid #797;
  margin: 1em auto;
  padding: 1em;
}

.announcement-approved > .title::before {
  content: "Approved: ";
}
.announcement-approved > .title {
  font-size: 1.2rem;
}

.announcement-approved > .body {
  font-size: 0.8rem;
  color: var(--approved-body);
  padding: 1em;
}

.announcement-approved > .date {
  font-size: 0.6rem;
  text-align: right;
  position: absolute;
  right: 2em;
}

.announcement-approved > .id::before {
  content:"id:"
}

.announcement-approved > .id {
  color: var(--approved-id);
  font-size: 0.6rem;
  position: absolute;
  right: 2em;
}

.announcement-denied {
  position: relative;
  color: var(--denied-foreground);
  background: var(--denied-background);
  border-radius: 1em;
  border: 1px solid #b77;
  margin: 1em auto;
  padding: 1em;
}

.announcement-denied > .title::before {
  content: "Denied: ";
}
.announcement-denied > .title {
  font-size: 1.2rem;
}

.announcement-denied > .body {
  font-size: 0.8rem;
  color: var(--denied-body);
  padding: 1em;
}

.announcement-denied > .date {
  font-size: 0.6rem;
  text-align: right;
  position: absolute;
  right: 2em;
}

.announcement-denied > .id::before {
  content:"id:"
}

.announcement-denied > .id {
  color: var(--denied-id);
  font-size: 0.6rem;
  position: absolute;
  right: 2em;
}

.announcement-published {
  position: relative;
  color: var(--published-foreground);
  background: var(--published-background);
  border-radius: 1em;
  border: 1px solid #777;
  margin: 1em auto;
  padding: 1em;
}

.announcement-published > .title::before {
  content: "Published: ";
}
.announcement-published > .title {
  font-size: 1.2rem;
}

.announcement-published > .body {
  font-size: 0.8rem;
  color: var(--published-body);
  padding: 1em;
}

.announcement-published > .date {
  font-size: 0.6rem;
  text-align: right;
  position: absolute;
  right: 2em;
}

.announcement-published > .id::before {
  content:"id:"
}

.announcement-published > .id {
  color: var(--published-id);
  font-size: 0.6rem;
  position: absolute;
  right: 2em;
}

.add-button {
  background-color: var(--approved-background);
  color: var(--approved-foreground);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 1em;
}
