.announcement-neutral {
  color: #000;
  background: #999;
  border-radius: 1em;
  border: 1px solid #777;
  margin: 1em auto;
  padding: 1em;
}

.announcement-neutral > .title::before {
  content: "";
}

.announcement-neutral > .title {
  font-size: 1.2rem;
}

.announcement-neutral > .body {
  font-size: 0.8rem;
  color: #111;
  padding: 1em;
}

.announcement-neutral > .date {
  font-size: 0.6rem;
  text-align: right;
  position: absolute;
  right: 2em;
}

.announcement-neutral > .id::before {
  content:"id:"
}

.announcement-neutral > .id {
  color: #444;
  font-size: 0.6rem;
  position: absolute;
  right: 2em;
}

.announcement-approved {
  color: #020;
  background: #9a9;
  border-radius: 1em;
  border: 1px solid #797;
  margin: 1em auto;
  padding: 1em;
}

.announcement-approved > .title::before {
  content: "Approved: ";
}
.announcement-approved > .title {
  font-size: 1.2rem;
}

.announcement-approved > .body {
  font-size: 0.8rem;
  color: #131;
  padding: 1em;
}

.announcement-approved > .date {
  font-size: 0.6rem;
  text-align: right;
  position: absolute;
  right: 2em;
}

.announcement-approved > .id::before {
  content:"id:"
}

.announcement-approved > .id {
  color: #464;
  font-size: 0.6rem;
  position: absolute;
  right: 2em;
}

.announcement-denied {
  color: #400;
  background: #c99;
  border-radius: 1em;
  border: 1px solid #b77;
  margin: 1em auto;
  padding: 1em;
}

.announcement-denied > .title::before {
  content: "Denied: ";
}
.announcement-denied > .title {
  font-size: 1.2rem;
}

.announcement-denied > .body {
  font-size: 0.8rem;
  color: #511;
  padding: 1em;
}

.announcement-denied > .date {
  font-size: 0.6rem;
  text-align: right;
  position: absolute;
  right: 2em;
}

.announcement-denied > .id::before {
  content:"id:"
}

.announcement-denied > .id {
  color: #844;
  font-size: 0.6rem;
  position: absolute;
  right: 2em;
}
