:root {
  --neutral-foreground: #000;
  --neutral-background: #999;
  --neutral-body: #111;
  --neutral-id: #444;
  --approved-foreground: #020;
  --approved-background: #9a9;
  --approved-body: #131;
  --approved-id: #464;
  --denied-foreground: #400;
  --denied-background: #c99;
  --denied-body: #511;
  --denied-id: #844;
  --published-foreground: #000;
  --published-background: #999;
  --published-body: #111;
  --published-id: #444;
  --recurring-foreground: #000;
  --recurring-background: #999;
  --recurring-body: #111;
  --recurring-id: #444;
  --background: #ffe;
}

body {
  background-color: var(--background);
}

.announcement-neutral {
  position: relative;
  color: var(--neutral-foreground);
  background: var(--neutral-background);
  border-radius: 1em;
  border: 1px solid #777;
  margin: 1em auto;
  padding: 1em;
}

.announcement-neutral > div > .title::before {
  content: "";
}

.announcement-neutral > .title {
  font-size: 1.2rem;
}

.announcement-neutral > .body {
  font-size: 0.8rem;
  color: var(--neutral-body);
  padding: 1em;
}

.announcement-neutral > .date {
  font-size: 0.6rem;
  text-align: right;
  position: absolute;
  right: 2em;
}

.announcement-neutral > .id::before {
  content:"id:"
}

.announcement-neutral > .id {
  color: var(--neutral-id);
  font-size: 0.6rem;
  position: absolute;
  right: 2em;
}

.announcement-approved {
  position: relative;
  color: var(--approved-foreground);
  background: var(--approved-background);
  border-radius: 1em;
  border: 1px solid #797;
  margin: 1em auto;
  padding: 1em;
}

.announcement-approved > div > .title::before {
  content: "Approved: ";
}
.announcement-approved > .title {
  font-size: 1.2rem;
}

.announcement-approved > .body {
  font-size: 0.8rem;
  color: var(--approved-body);
  padding: 1em;
}

.announcement-approved > .date {
  font-size: 0.6rem;
  text-align: right;
  position: absolute;
  right: 2em;
}

.announcement-approved > .id::before {
  content:"id:"
}

.announcement-approved > .id {
  color: var(--approved-id);
  font-size: 0.6rem;
  position: absolute;
  right: 2em;
}

.announcement-denied {
  position: relative;
  color: var(--denied-foreground);
  background: var(--denied-background);
  border-radius: 1em;
  border: 1px solid #b77;
  margin: 1em auto;
  padding: 1em;
}

.announcement-denied > div > .title::before {
  content: "Denied: ";
}
.announcement-denied > .title {
  font-size: 1.2rem;
}

.announcement-denied > .body {
  font-size: 0.8rem;
  color: var(--denied-body);
  padding: 1em;
}

.announcement-denied > .date {
  font-size: 0.6rem;
  text-align: right;
  position: absolute;
  right: 2em;
}

.announcement-denied > .id::before {
  content:"id:"
}

.announcement-denied > .id {
  color: var(--denied-id);
  font-size: 0.6rem;
  position: absolute;
  right: 2em;
}

.announcement-published {
  position: relative;
  color: var(--published-foreground);
  background: var(--published-background);
  border-radius: 1em;
  border: 1px solid #777;
  margin: 1em auto;
  padding: 1em;
}

.announcement-published > div > .title::before {
  content: "Published: ";
}
.announcement-published > .title {
  font-size: 1.2rem;
}

.announcement-published > .body {
  font-size: 0.8rem;
  color: var(--published-body);
  padding: 1em;
}

.announcement-published > .date {
  font-size: 0.6rem;
  text-align: right;
  position: absolute;
  right: 2em;
}

.announcement-published > .id::before {
  content:"id:"
}

.announcement-published > .id {
  color: var(--published-id);
  font-size: 0.6rem;
  position: absolute;
  right: 2em;
}

.recurring {
  position: relative;
  color: var(--recurring-foreground);
  background: var(--recurring-background);
  border-radius: 1em;
  border: 1px solid #777;
  margin: 1em auto;
  padding: 1em;
}

.recurring > div > .title::before {
  content: "Recurring: ";
}
.recurring > .title {
  font-size: 1.2rem;
}

.recurring > .body {
  font-size: 0.8rem;
  color: var(--recurring-body);
  padding: 1em;
}

.recurring > .date {
  font-size: 0.6rem;
  text-align: right;
  position: absolute;
  right: 2em;
}

.recurring > .id::before {
  content:"id:"
}

.recurring > .id {
  color: var(--recurring-id);
  font-size: 0.6rem;
  position: absolute;
  right: 2em;
}

.add-button {
  background-color: var(--approved-background);
  color: var(--approved-foreground);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 1em;
}

.switch {
  display: inline-block;
  position: relative;
  height: 1em;
  width: 2em;
}

.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  background-color: grey;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: .8em;
  width: .8em;
  bottom: .1em;
  left: .1em;
  background-color: white;
  transition: .2s;
}

input:checked + .slider {
  background-color: #77f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #77f;
}

input:checked + .slider:before {
  transform: translateX(1em);
}

.slider.round {
  border-radius: 1em;
}

.slider.round:before {
  border-radius: 50%;
}

.unhide {
  display: none;
  color: green;
}

.announcement-hidden > .body {
  display: none;
}

.announcement-hidden > button {
  display: none;
}

.announcement-hidden > .date {
  display: none;
}

.announcement-hidden > .unhide {
  display: block;
}

.recur-hidden > .body {
  display: none;
}

.recur-hidden > button {
  display: none;
}

.recur-hidden > .date {
  display: none;
}

.recur-hidden > .unhide {
  display: block;
}

.announcement-public {
  position: relative;
  color: var(--neutral-foreground);
  background: var(--neutral-background);
  border-radius: 1em;
  border: 1px solid #777;
  margin: 1em auto;
  padding: 1em;
}

.announcement-public > div > .title::before {
  content: "";
}

.announcement-public > .title {
  font-size: 1.2rem;
}

.announcement-public > .body {
  font-size: 0.8rem;
  color: var(--neutral-body);
  padding: 1em;
}

.announcement-public > .date {
  font-size: 0.6rem;
  text-align: right;
  position: absolute;
  right: 2em;
}

.tags {
  font-size: 0.6rem;
  font-family: monospace;
}
